<!DOCTYPE html>
<html>
<head>
  <title>Catalog App</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('landing')}}">CATALOG APP</a>
        <ul class="nav navbar-nav navbar-right">
          {% if not isLoggedIn %}
            <li><a href="{{url_for('login')}}">Login</a></li>
          {% else %}
            <li><a href="{{url_for('logout')}}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <main class="container">
    <div class="row">
      <div class="col-md-12">
        {% if isLoggedIn %}
          <span><a href="{{url_for('editItem', item_id=item.id)}}">Edit</a></span>
          <span><a href="{{url_for('deleteItem', item_id=item.id)}}">Delete</a></span>  
        {% endif %}
      </div>
      <div class="col-md-12">
        <h3>
          Item-{{item.id}}: {{item.name}} 
          (<a href="{{url_for('category', category_id=item.category.id)}}">{{item.category.name}}</a>)
        </h3>
        <p>{{item.description}}</p>
      </div>
    </div>
  </main>
</body>
</html>